
<form acction="/OnPostLogin" method="post">
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="password" placeholder="password" />
    <input type="submit" value="Login"/>

    <a href="/Account/Create">Không có tài khoản ? đăng ký.</a>
</form>